<h1>Welcome to the Library</h1>
<h2>Catalog</h2>
<ul>
  <% @catalog.each() do |book| %>
  <li><a href='/books/<%= book.id() %>'><%=book.title() %></a></li>
  <% end %>
</ul>
<br><br><br><br>
<form role="form" action="/books" method="post">
  <div class="form-group">
    <label for="title">Book Title:</label>
    <input type="text" name="title" >
    <br>
    <label for="genre">Book Genre:</label>
    <input type="text" name="genre" >
  </div>

    <button name="button" type="submit">Add Book</button>

</form>
